<div class="container mt-5 p-5 border">

    <!--Logo Saldo-->
    <div class="logo">
        <img src="assets/logo-saldo.png" alt="Logo de Saldo" class="h-100">
    </div>

    <h2 class="h2">Inicia sesión</h2>

    <form class="fs-4">
        <div class="mb-3">
            <input type="email" class="form-control" id="email" placeholder="Correo electrónico">
        </div>
        
        <div class="mb-3">
            <input type="password" class="form-control" id="password" placeholder="Contraseña">
        </div>

        <button type="button" class="btn w-100 ">Iniciar Sesión</button>
    </form>

</div>

