<h3 class="text-center mt-3">Seleccione el activo que desea consultar</h3>

<!--Filtro-->
<div class="row row-cols-auto m-0 justify-content-center">
    <div class="dropdown ms-1 p-0">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <span><i class="bi-filter-circle"></i> Filtrar por tipo de moneda</span>
            <span class="badge rounded-pill text-bg-success ms-2">{{currencySelected}}</span>
        </button>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item" *ngFor="let currency of currencies; let j=index"
                    (click)='currencySelected=currency; filterActivos()'>{{currency}}</a>
            </li>
        </ul>
    </div>
</div>

<!-- Contenedor de sistemas -->
<div class="container contenedor-secundario mt-0">
    <!--Fila con cards de activos-->
    <div class="row row-cols-auto m-3 mt-2 mb-2 justify-content-center">
        <div class="card m-1" 
        *ngFor="let item of activosFiltrados.data; let i=index">
            <img data-bs-toggle="modal" [attr.data-bs-target]="'#modal' + i"
                src='{{"https://api.saldo.com.ar/img/sistemas2/"+item.id+".big.png"}}' class="card-img-top"
                (load)="onImageLoad()">

            <!-- Modal -->
            <div class="modal fade" [id]="'modal' + i" tabindex="-1">
                <!--En esta clase se puede cambiar el tipo de modal-->
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5">{{item.attributes.name}}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <p>Descripción: 
                                <span *ngIf="!descripciones[i]?.description">No tenemos descripciones para este sistema</span>
                                <span *ngIf="descripciones[i]?.description">{{descripciones[i]?.description}}</span>
                            </p>
                            <p *ngIf="descripciones[i]?.pros">Pros: {{descripciones[i]?.pros}}</p>
                            <p *ngIf="descripciones[i]?.cons">Contras: {{descripciones[i]?.cons}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Animacion de carga para las imagenes de los sistemas-->
<div class="d-flex justify-content-center m-3" *ngIf="loading">
    <div class="loader"></div>
</div>